{% extends 'base.html.twig' %}

{% block title %}Le salon Beautiful!{% endblock %}

{% block body %}
<h1 style="color: blue">Moyenne des chiffres d'affaires du salon Beautiful</h1>
<h3>La moyenne est : {{ moyenne }} €</h3>

<h1 style="color: blue">Somme des chiffres d'affaires du salon Beautiful</h1>
<h3>La somme est : {{ somme }} €</h3>
{% endblock %}
