{% extends 'base.html.twig' %}

{% block title %}Le salon Beautiful!{% endblock %}

{% block body %}
<div class="container">
    <h1>Profil du Salon</h1>

    <p>Nom du salon : {{ nom }}</p>
    <p>Adresse : {{ adresse }}</p>
    <!-- Ajoutez d'autres informations spécifiques au salon ici -->
</div>
{% endblock %}
